/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@700');

/* Fontawesome */
@import url('https://use.fontawesome.com/releases/v5.6.3/css/all.css');

/* Importing all components file */
@import url("components/cards.css");
@import url("components/button.css");
@import url("components/banner.css");

/* Utilities */
body {
  margin: 0;
  font-family: mr-eaves-modern, sans-serif;
  font-weight: 300;
  font-style: normal;
  background: #FFFFFF;
  background: -webkit-linear-gradient(top right, #FFFFFF, #EAEAEA);
  background: -moz-linear-gradient(top right, #FFFFFF, #EAEAEA);
  background: linear-gradient(to bottom left, #FFFFFF, #EAEAEA);
}

h1, h2, h3, h4 {
  font-family:  epitaph, sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 5%;
}

h1 {
  font-size: 10rem;
  line-height: 50%;
}

h2 {
  font-size: 3rem;
}

a {
  text-decoration: none;
}

p {
  font-size: 18px;
}

/* Custom design below! */
.options {
  margin: 10%;
  text-align: center;
}

footer p{
  text-align: center;
  font-size: 10px;
  margin: 0;
}

footer {
  margin-bottom: 5%;
}

@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  h1 {
    font-size: 7rem;
  }
