.banner {
  background-image: url("https://github.com/vasconsaurus/landing/blob/gh-pages/images/andrew-umansky-l5truYNKmm8-unsplash-edited2.gif?raw=true");
  background-size: cover;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-overflow: clip;
  background-position: center;
}

.banner__info {
  text-align: center;
}

.banner__info a {
  font-size: 0.7rem;
  margin-top: 1rem;
}

.banner__info p {
  color: white;
}
