.banner {
  background-image: url("/images/andrew-umansky-l5truYNKmm8-unsplash-edited2.gif");
  background-size: cover;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner__info {
  text-align: center;
}

.banner__info a {
  font-size: 0.7rem;
}

.banner__info p {
  color: white;
}
