/* Your card CSS file */

h2 {
  font-size: 16px;
  margin-bottom: 5px;
}

p {
  margin-top: 2px;
}

/* CARD */

.card {
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin: 15px;
  width: 20vw;
  min-width: 250px;
  background-color: white;
}

.card__img {
  height: 200px;
  width: 100%;
  object-fit: fill;
}

.card__info {
  margin: 16px;
}

.card__info h3 {
  margin: 0;
  font-size: 2rem;
}

.card a {
  color:rgba(108, 99, 205, 1);
  transition: 0.3s;
}

.card a:hover {
  color: rgb(248, 109, 112);
  font-size: 3rem;
  transition: 0.3s;
}

/* CARDS - CARD CONTAINER */

.cards {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 15px;
}
